#wrapper {
    width: 100%;
    height: 100vh;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.section__table {
    flex: 1 1 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.window__button {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    margin: 0 0 16px 0;
    background: var(--fg500);

    div {
        color: var(--mainFg);
        font-size: 12px;
        cursor: pointer;
        height: 28px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s linear;
    }

    div.close-button {
            font-size: 16px;
    }
}

.top-bth-f:hover {
    color: var(--activeFg);
    background: var(--mainBg);
}

.container {
    max-width: 96%;
    margin: 0 auto;
}

.top__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top__button {
    display: flex;
    align-items: center;
}

.tb__bth {
    position: relative;

    > span {
        color: var(--mainFg);
        align-items: center;
        margin: 0 16px 0 0;
        font-weight: 400;
        font-size: 14px;
        padding: 4px 8px;
        border-radius: 8px;
        transition: all 0.2s linear;
        cursor: pointer;
        background: transparent;
        display: flex;

        &:hover {
            background: var(--fg500);
        }
    }

    > span.tb__bth-active {
        background: var(--fg500);
    }

    i {
        margin: 0 8px 0 0;
        font-size: 16px;
    }

}

.search__result {
    color: var(--mainFg);
    font-size: 14px;
    font-weight: 400;
}

.setting-button {
    color: var(--mainFg);
    font-size: 19px;
    cursor: pointer;

    &:hover {
        color: var(--activeFg)
    }
}

.label__block-global {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--fg500);
    color: var(--mainFg);
    padding: 10px 8px;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0);
    transition: all .2s ease-in 0s;
    margin: 0;

    &:hover {
        background: transparent;
        border-color: var(--activeFg);
    }

    i {
        font-size: 14px;
    }

    input {
        width: 100%;
        outline: 0;
        border: 0;
        height: 100%;
        background: rgba(0,0,0,0);
        color: var(--mainFg);
    }
}

.gbl__input {
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
        outline: none;
    }

    span {
        color: var(--mainFg);
        margin: 1px 0 0 6px;
        font-weight: 400;
        font-size: 14px;
        display: block;
    }
}

.tb__popup {
    position: absolute;
    display: none;
    background: var(--mainBg);
    box-shadow: var(--boxTb);
    top: 35px;
    border-radius: 10px;
    right: 0;
    left: 0;
    min-width: 340px;
    padding: 16px;
    transition: cubic-bezier(.4, 0, .2, 1) .26s transform;
    transform: translateY(40px);
    animation-duration: .26s;
    animation-fill-mode: both;
    animation-name: animation-open-popup;
    z-index: 1111;

    .preset__item-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid var(--fg300);
        padding: 8px 0 8px 0;
        margin: 0 0 8px 0;

        > div {
            display: flex;
            align-items: center;

            > i {
                font-size: 16px;
                cursor: pointer;
                transition: all 0.1s linear;
                margin: 0 0 0 12px;

                &:hover {
                    color: var(--activeFg);
                }
            }
        }


    }

    .preset__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s linear;
        width: 100%;

        &:active {
            background: var(--fg300);
        }

        span {
            color: var(--mainFg);
            margin: 1px 0 0 6px;
            font-weight: 400;
            font-size: 13px;
            display: block;
        }

    }

    .tb__button {
        display: flex;
        align-items: center;
        justify-content: right;
        margin: 16px 0 0 0;
    }

    .flex__space {
        justify-content: space-between;
    }

    .delete__preset {
        color: var(--mainFg);
        background: var(--mainBg);
        border: 1px solid var(--fg300);
        width: 40px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 14px;
        transition: all 0.2s linear;
        cursor: pointer;

        i {
            font-size: inherit;
            margin: 0;
        }

        &:hover {
            background: #b51308;
            color: var(--bthFg);
            border-color: #b51308;
        }
    }

    .tb__apply {
        border-radius: 6px;
        display: flex;
        justify-content: center;
        color: var(--bthFg);
        align-items: center;
        padding: 8px 16px;
        margin: 0 0 0 16px;
        font-weight: 400;
        font-size: 13px;
        background: var(--activeFg);
        cursor: pointer;
        border: 0;
        transition: all .2s linear;
        outline: none;
        font-family: var(--Nunito);

        &:hover {
            background: var(--actHover);
        }
    }
}

.section__input {
    width: 100%;
    margin: 10px 0 10px 0;

    .container {
        display: block;
    }
}

.global__button-wrap {
    display: flex;
    align-items: center;

    > div {
        width: 100%;
        position: relative;
        margin: 0 0 0 16px;

        > span {
            position: absolute;
            background: var(--fg450);
            color: var(--bthFg);
            text-align: center;
            top: 40px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            font-size: 12px;
            transition: cubic-bezier(.4, 0, .2, 1) .26s transform;
            transform: translateY(40px);
            padding: 6px 0;
            border-radius: 6px;
            display: none;
            white-space: break-spaces;
            animation-duration: .26s;
            animation-fill-mode: both;
            animation-name: animation-open-popup;
            left: 0;
            right: 0;
            z-index: 1111;
            margin: 0 auto;
        }
    }
}

.global__button-wrap > div:hover > span {
    display: block;
}

.global__button {
    border-radius: 6px;
    height: 36px;
    width: 80px;
    display: flex;
    justify-content: center;
    color: var(--bthFg);
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    background: var(--activeFg);
    cursor: pointer;
    border: 0;
    transition: all .2s linear;
    outline: none;

    &:hover {
        background: var(--actHover);
    }
}

.global__button-danger {
    border-radius: 6px;
    height: 36px;
    width: 80px;
    display: none;
    justify-content: center;
    color: var(--mainFg);
    align-items: center;
    font-weight: 400;
    font-size: 17px;
    background: var(--mainBg);
    cursor: pointer;
    transition: all .2s linear;
    border: 1px solid var(--fg300);
    outline: none;

    &:hover {
        background: #d1c616;
        color: var(--bthFg);
        border-color: #d1c616;
    }
}

.global__button-tran {
    border-radius: 6px;
    height: 36px;
    width: 80px;
    display: none;
    justify-content: center;
    color: var(--mainFg);
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    background: var(--mainBg);
    cursor: pointer;
    transition: all .2s linear;
    border: 1px solid var(--fg300);
    outline: none;

    &:hover {
        background: #b51308;
        color: var(--bthFg);
        border-color: #b51308;
    }
}

.global__input {
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    flex: 1 1 0;
    padding: 0 12px;
    position: relative;
    margin: 0 0 10px 0;
    background: var(--fg500);
    border: 1px solid var(--fg500);
    transition: all 0.2s ease-in-out 0s;

    &:hover {
        background: transparent;
        border-color: var(--activeFg);
    }
}

.app__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0 0 0;
    z-index: 11111;
}

.gi__left {
    display: flex;
    align-items: center;

    > i {
        color: var(--mainFg);
        font-size: 15px;
    }

    span {
        display: block;
        font-size: 15px;
        font-weight: 400;
        margin: 0 0 0 10px;
        white-space: nowrap;
        overflow: hidden;
        width: 98%;

        i {
            font-size: 13px;
            margin: 0 4px;
        }
    }
}

.gi__right {
    color: var(--mainFg);
    font-size: 17px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 8px;

    i {
        transition: all 0.2s linear;
    }
}

.gi__right:hover i {
    color: var(--activeFg);
}

.section__table input{
    cursor: pointer;
}


.file__thead {
    width: 100%;
    color: var(--fg400);
    font-weight: 400;
    margin: 12px 0 0 0;
    font-size: 15px;
    position: relative;
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--fg300);

    .container {
        display: flex;
        align-items: center;
    }

    i {
        font-size: 14px;
        margin: 0 0 0 6px;
    }

    .sort__check {
        display: flex;
        align-items: center;
        width: 50px;
        white-space: nowrap;
    }

    .sort__name {
        display: flex;
        align-items: center;
        flex: 1 1 350px;
        white-space: nowrap;

        img {
            margin: 0 6px 0 0;
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
    }

    .sort__size {
        display: flex;
        align-items: center;
        border-left: 1px solid var(--fg300);
        flex: 0 1 150px;
        padding: 2px 0 2px 20px;
        white-space: nowrap;
    }

    .sort__type {
        flex: 0 1 85px;
        text-align: center;
        display: flex;
        align-items: center;
        border-left: 1px solid var(--fg300);
        padding: 2px 0 2px 20px;
        white-space: nowrap;
    }

    .sort__time {
        display: flex;
        align-items: center;
        flex: 0 1 155px;
        border-left: 1px solid var(--fg300);
        padding: 2px 0 2px 20px;
        white-space: nowrap;
    }

    .sort__more {
        display: flex;
        justify-content: flex-end;
        flex: 0 1 35px;
        white-space: nowrap;
        padding: 0 0 0 20px;
    }

    .sort__active {
        color: var(--mainFg)
    }
}

.file__table-ctx {
    color: var(--fg400);
    font-weight: 400;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    display: block;

    .container {
        display: flex;
        align-items: center;
    }

    i {
        font-size: 19px;
        margin: 0 6px 1px 0;
    }

    .fa-file-word {
        color: var(--word);
    }

    .fa-file-pdf {
        color: #b51308;
    }

    .fa-presentation-screen {
        color: #cd4f2e
    }

    .fa-database {
        color: #a1393c;
    }

    .fa-file-zipper {
        color: #085aa2
    }

    .sort__check {
        display: flex;
        align-items: center;
        color: var(--check);
        width: 50px;
        white-space: nowrap;

        i {
            font-size: 15px;
        }
    }

    .sort__name {
        display: flex;
        align-items: center;
        color: var(--mainFg);
        flex: 1 1 350px;
        white-space: nowrap;

        img {
            margin: 0 6px 0 0;
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
    }

    .sort__size {
        display: flex;
        align-items: center;
        flex: 0 1 150px;
        padding: 0 0 0 20px;
        white-space: nowrap;
    }

    .sort__type {
        flex: 0 1 85px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0 0 0 20px;
        white-space: nowrap;
    }

    .sort__time {
        display: flex;
        align-items: center;
        flex: 0 1 155px;
        padding: 0 0 0 20px;
        white-space: nowrap;
    }

    .sort__more {
        display: flex;
        flex: 0 1 35px;
        white-space: nowrap;
        padding: 0 0 0 20px;
        position: relative;

        i {
            transition: all 0.1s linear;
            font-size: 15px;


            &:hover {
                color: #b51308;
            }
        }
    }
}

.file__table-temp {
    width: 100%;
    height: 100%;
    display: block;
    padding: 13px 0;
}

.file__table-temp:hover {
    background: var(--hover300);
}

.file__table-ctx > .checkbox__files:checked ~ * {
    background: var(--hover300);
}

.file__tbody {
    position: relative;
    flex: 1 1 0;
    overflow-x: auto;
}

.loader {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    position: absolute;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;

    .path {
        stroke: var(--activeFg);
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }
}

.flex__file-form {
    display: flex;

    .fll__left {
        margin: 0 16px 0 0;
    }
}

.container__table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__table-title button {
    color: var(--mainFg);
    align-items: center;
    font-weight: 400;
    display: none;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 6px;
    transition: all .2s linear;
    cursor: pointer;
    background: transparent;
    background: var(--mainBg);
    font-family: var(--Nunito) ;
    margin: 0 0 0 16px;
    border: 1px solid var(--fg300);

    &:hover {
        background: #b51308;
        color: var(--mainBg);
        border-color: #b51308;
    }

    i {
        margin: 0 6px 0 0;
    }
}

.fixed__table {
    position: sticky;
    top: 0;
    z-index: 111;
    background: var(--mainBg);
}

.preset__list {
    display: block;
    max-height: 250px;
    overflow: hidden;
    padding: 0 6px 0 0;
    overflow-y: auto;
}

.sort__list {
    display: block;

    label {
        display: block;
        width: 100%;
        margin: 0 0 16px 0;

        > span {
            color: var(--mainFg);
            font-weight: 400;
            font-size: 14px;
            padding: 0 0 4px 0;
            display: block;
        }

        > select {
            width: 100%;
            background: var(--fg500);
            color: var(--mainFg);
            padding: 8px 10px;
            border-radius: 6px;
            border: 1px solid rgba(0,0,0,0);
            transition: all .2s ease-in 0s;
            outline: 0;
            font-family: var(--Nunito);
            appearance: none;

            > option {
                background: var(--fg500);
                color: var(--mainFg);
            }

            &:hover {
                border-color: var(--activeFg);
                background: transparent;
            }
        }
    }
}

.need__block {
    > span {
        display: block;
        margin: 0 0 6px 0;
        font-weight: 400;
        font-size: 16px;
    }

    > div {
        span {
            font-size: 15px;
        }
    }
}

.info__block {
    text-align: center;

    > i {
        font-size: 38px;
        color: var(--activeFg);
    }

    > img {
        height: 65px;
    }

    > span {
        display: block;
        margin: 3px 0 2px 0;
        font-weight: 400;
        font-size: 17px;
    }

    > p {
        color: var(--fg400);
        font-size: 14px;
        padding: 0;
        margin: 0 0 4px 0;
    }

    > div span {
        display: block;
        color: var(--fg400);
        font-size: 14px;
    }
}

.label__exp {
    font-size: 13px;
    color: var(--fg400);
    display: block;
    margin: 2px 0 0 0;
}

.remember__popup {
    min-width: 460px;
}

.remember__list {
    margin: 10px 0 16px 0;
    display: flex;
    flex-wrap: wrap;

    .remember__item {
        background-color: var(--fg550);
        font-size: 14px;
        margin: 0 8px 8px 0;
        padding: 0;
        transition: all 0.2s linear;
        display: inline-flex;
        align-items: end;
        border-radius: 4px;

        span {
            height: 30px;
            display: flex;
            align-items: center;
            padding: 0 8px;
            font-size: 14px;
        }

        button {
            border: 0;
            display: flex;
            height: 30px;
            cursor: pointer;
            width: 30px;
            align-items: center;
            background: transparent;
            justify-content: center;
            border-radius: 0 4px 4px 0;
            transition: all 0.1s linear;

            &:hover {
                color: var(--bthFg);
                background: var(--activeFg);
            }

            i {
                margin: 0;
                font-size: 13px;
            }
        }
    }
}

.load__block {
    display: block;
    text-align: center;
    padding: 16px;

    > i {
        color: var(--activeFg);
        font-size: 50px;
    }

    span {
        display: block;
        font-size: 18px;
        font-weight: 400;
        margin: 18px 0 3px 0;
    }

    p {
        font-size: 14px;
        display: block;
        padding: 0px 0 6px 0;
        margin: 0;
        font-weight: 400;
    }

     div {
         font-size: 14px;
         font-weight: 400;
     }
}

.delpreset__block {
    display: block;
    text-align: center;

    > i {
        color: #d1c616;
        font-size: 50px;
    }

    > span {
        display: block;
        font-size: 18px;
        font-weight: 400;
        margin: 18px 0 6px 0;
    }

    > p {
        font-size: 15px;
        display: block;
        padding: 0px 0 6px 0;
        margin: 0;
        font-weight: 400;
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0 0;

        button {
            border: 0;
            outline: none;
            padding: 8px 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-family: var(--Nunito);
            margin: 0 6px;
            border-radius: 4px;
            color: var(--bthFg);
            transition: all 0.2s linear;
        }

        .cancel__danger-pop, .apply__file-pop {
            background: #b51308;
            color: var(--bthFg);

            &:hover {
                background: #8f0d04;
            }
        }

        .apply__danger-pop, .cancel__file-pop {
            background: var(--activeFg);
            color: var(--bthFg);

            &:hover {
                background: var(--actHover);
            }
        }
    }
}

#notice__wrapper {
    display: block;
    position: fixed;
    left: 1.5%;
    top: 35px;
    width: 300px;
    z-index: 1000000;

    .alert__block {
        transform: translateY(-200px);
        animation-duration: .26s;
        animation-fill-mode: both;
        animation-name: slip-top;
        display: inline-flex;
        align-items: baseline;
        background: var(--noticeBg);
        border-left: 4px solid #347d39;
        padding: 8px 0 8px 12px;
        box-shadow: var(--noticBox);
        border-radius: 6px;
        font-size: 13px;
        font-weight: 400;
        z-index: 1000000;
        margin: 0 0 16px 0;
        width: 100%;

        i {
            font-size: 15px;
            margin: 0 6px 0 0;
        }
    }

    .notice__delete {
        transform: translateY(-200px);
    }
}

.checkbox__wrap {
    position: relative;
    display: flex;
    cursor: pointer;

    label {
        color: var(--mainFg);
        font-weight: 400;
        font-size: 14px;
        display: block;
        cursor: pointer;
    }

    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .custom-checkbox+label::before {
        content: '';
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid var(--fg200);
        border-radius: 0.25em;
        margin-right: 6px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    /* стили при наведении курсора на checkbox */
    .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
        border-color: var(--fg350);
    }

    /* стили для активного чекбокса (при нажатии на него) */
    .custom-checkbox:not(:disabled):active+label::before {
        background-color: var(--fg500);
        border-color: var(--fg350);
    }

    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    .custom-checkbox:focus:not(:checked)+label::before {
        border-color: var(--fg350);
    }

    /* стили для чекбокса, находящегося в состоянии checked */
    .custom-checkbox:checked+label::before {
        border-color: var(--activeFg);
        background-color: var(--activeFg);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    /* стили для чекбокса, находящегося в состоянии disabled */
    .custom-checkbox:disabled+label::before {
        background-color: var( --checkNBg);
        border-color: var( --checkNFg);
    }

}

.radio__wrap {
    position: relative;
    display: flex;
    cursor: pointer;

    label {
        color: var(--mainFg);
        font-weight: 400;
        font-size: 15px;
        display: block;
        cursor: pointer;
    }

    .custom-radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-radio + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    .custom-radio + label::before {
        content: '';
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid var(--fg200);
        border-radius: 50%;
        margin-right: 6px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    /* стили при наведении курсора на checkbox */
    .custom-radio:not(:disabled):not(:checked) + label:hover::before {
        border-color: var(--fg350);
    }

    /* стили для активного чекбокса (при нажатии на него) */
    .custom-radio:not(:disabled):active + label::before {
        background-color: var(--fg500);
        border-color: var(--fg350);
    }

    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    .custom-radio:focus:not(:checked) + label::before {
        border-color: var(--fg350);
    }

    /* стили для чекбокса, находящегося в состоянии checked */
    .custom-radio:checked + label::before {
        border-color: var(--activeFg);
        background-color: var(--activeFg);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }

    /* стили для чекбокса, находящегося в состоянии disabled */
    .custom-radio:disabled + label::before {
        background-color: var(--checkNBg);
        border-color: var(--checkNFg);
    }
}
