@use "sass:list";

//Font
$Karla    : 'Karla', sans-serif;
$Nunito   : 'Nunito', sans-serif;

// COLORS
$mainBg   : #ffffff;
$mainFg   : #1b364a;
$activeFg : #2977B5;
$actHover : #19619a;
$fg500    : #F5F6F8;
$fg400    : #83899F;
$fg300    : #E8EBEF;
$hover300 : #e9f6ff;
$check    : #29B572;
$word     : #30599a;
$black    : #111111;

$rbg650   : rgb(0 35 63 / 95%);

$boxPop   : 1px 3px 3px 0 rgb(0 0 0 / 20%), 1px 3px 15px 2px rgb(0 0 0 / 20%);

$vendors  : "-webkit-", "-apple-", "-khtml-", "-moz-", "-rim-", "-xv-","-ms-", "-o-", "";